*{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
  
}
button{
    margin: 0;
    padding: 0;
    border: 1px solid transparent; 
    outline: none;    
}
h3{
    font-size: 25px;
    display: block;
    padding-top:10px;
    color:#666;
}

h1 {
    font-size: 45px;
    padding-top:10px;
    color:#006633;
}
h1 > span:last-child{
    color:#cc9933;
}
.homepage-head-container{
    height: 125px;
}
.homepage-top{
	width: 100%;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.homepage-note{
	width: 470px;
	height: 25px;
	float: left;
}
.homepage-note li{
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin-left: 20px;
	color: grey;
	opacity: 0.3;
}
.homepage-online{
	width: 570px;
	height: 25px;
	float: right;
}
.homepage-online a{
	color: grey;
	width: 190px;
	text-indent: center;
	margin-right: 28px;
	opacity: 1;
}
.homepage-online span{
	opacity: 0.3;
}
.homepage-down{
	width: 1250px;
	height: 80px;
	margin: 0 auto;
}
.homepage-nav{
	width: 540px;
	height: 80px;
	float: right;
}
.homepage-nav li{
	float: left;
	color: grey;
	width: 90px;
	height: 60px;
	text-align: center;
	line-height: 60px;
}
.homepage-nav a{
	width: 100px;
	height: 90px;
}
.homepage-nav li:hover{
	width: 90px;
	height: 60px;
	line-height: 60px;
	color: #fff;
	background-color:rgb(0,137,233);
}
.homepage-logo{
	float: left;
}
.blog_container{
    width:100%;
    margin:0 auto;
}

.blog-container{
    text-align: center;
    margin:0 auto;
    width:100%;
	height:780px;
    background: url(../images/bg/roombg.jpg) no-repeat 0 5px;
}
.blog-main{
    padding-top: 50px;
}

.blog-bg{
    background: rgba(16,32,44,0.5);
    text-align: center;
    margin:0 auto;
    width:100%;
    height:780px;
}

.blog_text{
    background-color: rgba(250,250,250,0.2); 
    border: 3px solid #fff;
    padding-top: 30px;
    width:870px;
    margin-left: auto;
    margin-right: auto;
    height:650px;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 60px;
}
.blog_text .COMMENTHERE{
    color:rgb(230,230,230);
    clear:both;
    margin-left: 50px;  
    width:770px;
    height:30px;
    font-size: 22px;
    font-weight: 800;
    padding-bottom: 10px;
    border-bottom:2px solid rgba(102,102,102,0.7);
}
.blog_text .blog_name{
    float: left;
    width:320px;
    height:50px;
    margin-left:60px;
    margin-top:50px;
    margin-bottom:70px;

}
.blog_text .blog_name:first-child{
    margin-right:15px;
}
.blog_text .blog_name input{
    width:350px;
    height:60px;
    font-size:20px;
}
.blog_text .blog_name input:focus{
    outline:none;
}
.blog_text .blog_textare{
    padding-left:5px;
}
.blog_text .blog_textare textarea{
    padding-top:10px;
    width:770px;
    height:300px;
    font-size:25px;
    
}
.blog_text .blog_textare  textarea:focus{
    outline:none;
}

.blog_text .blog_textare  textarea:hover{
    border:2px solid rgb(254,147,31);
    color:rgb(254,147,31);
}

.blog_btn{
    clear: both;
    width:165px;
    height: 70px;
    margin-left: 40px;
    margin-top: 30px;
    background-color:rgb(254,147,31) ;

}
#bolg_Post{
    clear: both;
    margin: 6px 1px;
    font-size: 20px;
    color:#fff;
    background-color:rgb(254,147,31) ;
    border:1px solid #fff;
    width:140px;
    height: 55px;
}
#bolg_Post:hover{
    background-color:rgb(48, 154, 230) ;
}
.blog_passage_last{
    clear: both;
    width:100%;
    height:300px;
    margin:0 auto;
}
.blog_passage{
    width:100%;
    margin:0 auto;
    height:180px;
    padding-top:100px;
    position: relative;
}
.blog_passage .blog_motion { 
    margin:0 auto;  
    width:1200px;
    height:90px;
}

.blog_passage .blog_motions{
    float:left;
    width:380px;
    height:70px;
    margin-top:10px;
    margin-right:20px;
    text-align: center;
    color:#000;
    font-size: 40px;
}
.blog_passage .blog_motions:last-child{
    margin-right:0px;
}